.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
}

.footer-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #8186a0;
  text-decoration: underline;
}
