.app-container {
  border-radius: 30px;
  min-height: 80vh;
}

.light {
  background-color: #ebebfc;
}

.dark {
  background-color: #c8c8de;
}

.cta-primary {
  background-color: #5843e4;
  width: fit-content;
  height: 40px;
  border-radius: 30px;
  margin-top: 1.5rem;
  color: white;
  padding: 0.5rem 1.5rem;
  display: block;
  text-decoration: none;
}

.cta-primary:hover {
  color: white;
  background-color: #4e3bc5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  color: #4e3bc5;
}

h1 {
  font-size: 2.4rem;
}
